#header {
    width: 100%;
    height: 100px;
    background-color: #d1d14d;
}

#main {
    display: flex;
}

#sidebar-left { /* side bar da esquerda*/
    width: 200px;
    height: 400px;
    background-color: #39bd56;
}

#content {
    width: calc(100% - 400px); /* 100% menos a soma das duas sidebars (200px + 200px) */
    height: 400px;
    background-color: #df971b;
}

#sidebar-right { /* side bar da direita*/
    width: 200px;
    height: 400px;
    background-color: #39bd56;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #549eed;
}
