#header {
    width: 100%;
    height: 100px;
    background-color: #d1d14d;
}

#main {
    display: flex;
}

#sidebar-left { /* sidebar da esquerda*/
    width: 200px;
    height: 400px;
    background-color: #39bd56;
}
/* #sidebar-left, sidebar-right { 
    width: 200px;
    height: 400px;
    background-color: #39bd56;
    (este é um exemplo de casos em que divs que terão as mesmas definições, sendo possível separar as divs por virgula na hora de declarar e as definições dentro dela serão aplicadas em ambas as divs. Neste caso para 2 sidebar)
} */

#content {
    width: calc(100% - 400px); /* 100% menos a soma das duas sidebars (200px + 200px) */
    height: 400px;
    background-color: #df971b;
}

#sidebar-right { /* sidebar da direita*/
    width: 200px;
    height: 400px;
    background-color: #39bd56;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #549eed;
}
